body{
    margin:0;
    padding:0;
}

.box{
    background-color: aquamarine;
    margin:70px 70px 70px 70px;
    padding:10px 10px 10px 10px;
    width: 300px;

}


h1{
    text-align: center;
    padding:5px;
}


form{
    padding-left: 70px;
}


h5{
    font-size: 20px;
}
#results{
    padding-left: 70px;
}

input{
    padding:5px;
    margin:5px;
}